<%- include('partials/header.ejs') %>
    <form action="/" method="POST">
        <fieldset>
            <legend>📚 Add category - Scrollbook API</legend>
            <p>
                <label for="category">Category</label>
                <input type="text" id="category" class="category" placeholder="Romance...">
            </p>
        </fieldset>
        <button type="submit" id="submitButton">Submit</button>
    </form>
    <%- include('partials/footer.ejs') %>