/* GLOBAL STYLES */

:root {
  --dark-grey: #171919;
  --white: #fff;
}

body {
  background-color: #171919;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER STYLING */

.logo {
  padding: 2em;
}

/* FORM STYLING */

form {
  margin: auto;
}

legend {
  padding-bottom: 1em;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5rem;
}

fieldset {
  border: none;
}

@media (max-width: 35em) {
  h1 {
    font-size: 1.2rem;
  }
}

main {
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 8px 10px;
  border: none;
  outline: none;
  color: #171919;
}

button {
  all: unset;
  background-color: #fff;
  color: #171919;
  border: 1px solid #fff;
  padding: 0.5em 2em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.success-msg {
  display: none;
  color: #86dc3d;
}

.success-msg-ssr {
  color: #86dc3d;
}
